.about-containter {
  .about-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
  }

  .section1 {
    background-image: url("../../../public/img/pexels-fotoaibe-1571460.jpg");
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    height: 100vh;
    position: relative;
    color: white;
  }

  .section1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .section1 .container {
    z-index: 2;
    position: relative;
  }

  .section1 p {
    max-width: 70%;
    margin: 40px auto;
    line-height: 1.6;
  }

  .section2 {
    background-color: #dcdcdc;
    color: black;
    padding: 50px 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .section2 .section-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
  }

  .section2 p {
    max-width: 70%;
    margin: 40px auto;
    line-height: 1.6;
  }

  .section2 .tech-item {
    text-align: center;
    margin: 10px;
    transition: transform 0.3s ease, color 0.3s ease;
    max-width: 200px;
    flex: 1 0 16%;
  }

  .section2 .tech-icon {
    font-size: 50px;
    margin-bottom: 15px;
    color: rgb(74, 74, 74);
    transition: transform 0.3s ease, color 0.3s ease;
  }

  .section2 .tech-item p {
    font-size: 1rem;
    color: rgb(74, 74, 74);
    margin-top: 10px;
    max-width: 70%;
    margin: 0 auto;
  }

  .section2 .tech-item:hover .tech-icon {
    color: rgb(35, 35, 35);
    transform: scale(1.1);
  }

  .section2 .tech-item:hover p {
    color: rgb(35, 35, 35);
  }

  .section2 .tech-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
  }

  @media (max-width: 768px) {
    .tech-item {
      flex: 1 0 45%;
    }

    .tech-icon {
      font-size: 45px;
    }

    .section-title {
      font-size: 2rem;
    }

    .tech-item p {
      font-size: 0.9rem;
    }
  }

  @media (max-width: 576px) {
    .tech-item {
      flex: 1 0 100%;
    }

    .tech-icon {
      font-size: 40px;
    }

    .section-title {
      font-size: 1.5rem;
    }

    .tech-item p {
      font-size: 0.8rem;
    }
  }

  .section3 {
    background-color: black;
    color: white;
    padding: 50px 0;
    height: 100vh;
  }

  .section4 {
    background-color: #f1f1f1cc;
    color: black;
    padding: 50px 0;
    height: 100vh;
  }

  .section4 h2 {
    position: relative;
    margin-top: -35px;
  }

  .section4 .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
  }

  .left-column,
  .right-column {
    width: 45%;
    text-align: left;
    padding-top: 100px;
  }

  .section4 ol {
    margin-left: 20px;
    font-size: 1rem;
    padding-left: 0;
    text-align: left;
  }

  .section4 ol li {
    margin-bottom: 10px;
  }

  .section4 p {
    font-size: 1.1rem;
    margin-top: 20px;
    line-height: 1.6;
  }

  .section4 .final-note {
    margin-top: 35px;
    font-size: 1.1rem;
    text-align: center;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .section4 a.login-link {
    color: gray;
    text-decoration: none;
  }

  .section4 a.login-link:hover {
    text-decoration: underline;
  }

  .section5 {
    background-color: gray;
    color: white;
    padding: 50px 0;
    height: 100vh;
    text-align: center;
    position: relative;
  }

  .section5 .section-title {
    font-size: 2rem;
    margin-bottom: 50px;
  }

  .section5 .team-member {
    text-align: center;
    margin-top: 80px;
    transition: transform 0.3s ease-in-out;
  }

  .section5 .team-photo {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 35px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
  }

  .section5 .team-photo:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  }

  .section5 h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 600;
  }

  .section5 p {
    font-size: 1rem;
    color: #ddd;
    line-height: 1.6;
  }

  .section5 .team-member {
    margin-bottom: 40px;
  }

  .section5 .team-member a {
    margin: 0 10px;
    color: #fff;
  }

  .section5 .team-member a i {
    font-size: 1.7rem;
    transition: transform 0.3s ease, color 0.3s ease;
  }

  .section5 .team-member a:hover i {
    color: lightblue;
    transform: scale(1.3);
  }

  .section5 .team-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
  }

  @media (max-width: 768px) {
    .section5 .team-member {
      margin-bottom: 30px;
    }

    .section5 .team-photo {
      width: 150px;
      height: 150px;
    }

    .section5 h3 {
      font-size: 1.1rem;
    }

    .section5 p {
      font-size: 0.9rem;
    }

    .section5 .team-member a i {
      font-size: 1.3rem;
    }
  }

  @media (max-width: 576px) {
    .section5 .team-member {
      margin-bottom: 20px;
    }

    .section5 .team-photo {
      width: 120px;
      height: 120px;
    }

    .section5 h3 {
      font-size: 1rem;
    }

    .section5 p {
      font-size: 0.8rem;
    }

    .section5 .team-member a i {
      font-size: 1.1rem;
    }
  }
}
