.about-container {
  .section1,
  .section2,
  .section3,
  .section4,
  .section5 {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    position: relative;
    text-align: center;
    overflow-x: hidden;
  }

  .section1,
  .section2,
  .section3 {
    display: flex;
  }

  .section1 p,
  .section2 p,
  .section3 p,
  .section4 p,
  .section5 p {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.8;
    font-size: 1.1rem;
  }

  .section1 {
    background-image: url("/img/AboutBackground/AboutBackground.png");
    background-size: cover;
    background-position: center;
    color: #fff;
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.75);
      z-index: -1;
    }

    p {
      max-width: 70%;
      margin: 40px auto;
      line-height: 1.6;
      font-size: 1.15rem;
      padding: 0 10px;
    }
  }

  .section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5% 0 10%;
    background-color: rgb(141, 141, 141);
    color: white;
    gap: 50px;

    h2 {
      margin-bottom: 20px;
    }

    .section2-text {
      text-align: left;
      padding-right: 20px;
      padding-bottom: 20px;
      max-width: 50%;
    }

    .section2-text {
      h2,
      p {
        max-height: 12rem;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 5px;
      gap: 20px;
    }

    .tecnology-item {
      flex-basis: 25%;
      text-align: center;

      img {
        width: 1.8rem;
        height: 1.8rem;
      }

      .tecnology-icon {
        font-size: 3rem;
        width: 3rem;
        height: 3rem;
        color: rgb(233, 233, 233);
        fill: currentColor;
        display: inline-block;
      }

      .tecnology-name {
        margin-top: 20px;
        font-size: 1rem;
        color: rgb(233, 233, 233);
      }
    }
  }

  .project-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 5% 0 10%;
    background-color: rgba(24, 23, 24, 255);
    color: white;
  }

  .section3 {
    gap: 60px;

    h2 {
      margin-bottom: 20px;
    }

    .section3-text {
      text-align: left;
      padding-right: 20px;
      max-width: 50%;
    }

    .image {
      flex: 2;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
        max-width: 100%;
      }
    }
  }

  .section4 {
    background-color: #f1f1f1cc;
    color: black;
    padding: 50px 0;

    h2 {
      margin-bottom: 20px;
    }

    p {
      font-size: 1rem;
    }

    img.admin-image {
      width: 100%;
      max-width: 600px;
      height: auto;
      border-radius: 8px;
      margin: 20px auto 30px;
    }

    .content-wrapper {
      display: flex;
      justify-content: center;
      gap: 50px;
      flex-wrap: wrap;
      margin-top: 30px;
    }

    .left-column,
    .right-column {
      max-width: 650px;
      text-align: center;
      padding: 0px;

      p {
        text-align: left;
        font-size: 1rem;
      }

      ol li {
        padding-left: 25px;
        font-size: 0.9rem;
        line-height: 1.5;
        text-align: left;
        margin-bottom: 0 px;
      }
    }

    ol {
      list-style-position: inside;
      padding-left: 0;
    }

    .login-link {
      color: gray;
      text-decoration: underline;

      &:hover {
        color: rgb(69, 69, 69);
      }
    }
  }

  .section5 {
    background-color: rgb(141, 141, 141);
    color: white;
    padding: 50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .section-title {
      font-size: 2rem;
      margin-bottom: 50px;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px 45px;
      margin-bottom: 40px;
    }

    .team-member {
      text-align: center;
      margin-top: 80px;
      margin-bottom: 40px;
      transition: transform 0.3s ease-in-out;

      .team-photo {
        width: 175px;
        height: 175px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 35px;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;

        &:hover {
          transform: scale(1.2);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
        }
      }

      h3 {
        font-size: 1.2rem;
        margin-bottom: 10px;
      }

      p {
        font-size: 1rem;
        color: #ddd;
        line-height: 1.6;
      }

      a {
        margin: 0 10px;
        color: #fff;

        i {
          font-size: 1.7rem;
          transition: transform 0.3s ease, color 0.3s ease;

          &:hover {
            color: lightblue;
            transform: scale(1.3);
          }
        }
      }
    }

    .team-photo {
      filter: brightness(0.9);
      transition: filter 0.2s ease;

      &:hover {
        filter: brightness(1);
      }
    }
  }

  @media (max-width: 768px) {
    .section1,
    .section2,
    .section3,
    .section4,
    .section5 {
      padding: 30px 25px !important;
      text-align: center !important;
      align-items: center !important;
      justify-content: center !important;
    }

    .section2,
    .section3,
    .content-wrapper {
      flex-direction: column;
      align-items: center;
    }

    .section2-text,
    .section3-text,
    .left-column,
    .right-column {
      text-align: center !important;
      padding: 0 !important;
      width: 100%;
    }

    .section3 .section3-text,
    .section2 .section2-text {
      padding-right: 0;
      max-width: 100%;
    }

    .section3-text h2,
    .section2-text h2 {
      margin-bottom: 30px;
    }

    .icons {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      justify-items: center;
      width: 100%;
      gap: 25px 15px;
      padding: 0 10px;
    }

    .tecnology-item {
      flex-basis: 45% !important;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .section4 p,
    .section4 ol li {
      text-align: center !important;
      margin-left: auto;
      margin-right: auto;
    }

    .section4 ol li {
      font-size: 0.85rem;
      line-height: 1.5;
      margin-bottom: 0px;
    }

    .section5 .team-member {
      margin-bottom: 0px;
    }

    .section5 .team-photo {
      width: 150px;
      height: 150px;
    }

    .section5 h3 {
      font-size: 1.1rem;
    }

    .section5 p {
      font-size: 0.9rem;
    }

    .section5 .team-member a i {
      font-size: 1.3rem;
    }

    .section5 .team-member {
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }

  @media (max-width: 480px) {
    .section2,
    .section3 {
      gap: 20px;
      padding: 20px 0 !important;
      text-align: center;
      flex-direction: column;
    }

    .section2-text,
    .section3-text {
      padding: 0 !important;
      text-align: center !important;
    }

    .icons {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      justify-items: center;
      width: 100%;
      gap: 20px 10px;
      padding: 0 10px;
    }

    .tecnology-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .section5 .team-photo {
      width: 100px;
      height: 100px;
    }

    .section5 h3 {
      font-size: 1rem;
    }

    .section5 p {
      font-size: 0.75rem;
    }

    .section5 .team-member a i {
      font-size: 1rem;
    }
  }
}
