.category-list-container {
  padding-top: 70px;

  .first-row {
    z-index: 0;
    &::before {
      content: "";
      background-image: url("/img/dot-bg.png");
      background-size: contain;
      position: absolute;
      top: 20%;
      transform: translateX(-1rem);
      max-width: 300px;
      opacity: 0.4;
      width: 300px;
      height: 220px;
      z-index: -1;
    }
  }

  .second-row {
    position: relative;
    z-index: 0;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    .content {
      height: 135px;

      p {
        font-size: 13px;
      }
    }
  }

  @media (max-width: 400px) {
    .mobile-wrapper {
      flex-direction: column;
      justify-content: center;
    }
  }

  img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    }
  }

  .swiper {
    .swiper-slide {
      width: 100%;
      height: 100%;
      aspect-ratio: 1/1;
      margin: 32px 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: 10px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #666666;
    background-color: #e9e9e9;
    opacity: 0.8;
    font-weight: bold;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 20px;
  }
}
