.blackButton {
  background-color: #000000;
  text-transform: uppercase;
  text-align: center;
  border: none;
  line-height: 40px;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;

  &:disabled {
    background-color: #cccccc;
  }
}
