.home-swipper {
  position: relative;
  padding: 0;

  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    display: inline-block;
    border-radius: 100%;
    background: #fff;
    opacity: 0.5;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
  }

  .slide-content {
    position: relative;
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent);
      z-index: 1;
    }
  }

  .caption-container {
    position: absolute;
    top: 45vh;
    left: 0;
    text-align: left;
    z-index: 5;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.5s ease-out;
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
    width: 60%;
  }

  .caption-container.visible {
    visibility: visible;
    opacity: 1;
  }

  .slide-caption {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 20px;
    width: 80%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);

    animation: fadeInSlide 1.2s ease-out forwards;
  }

  .slide-heading {
    font-size: 1rem;
    font-weight: 700;
    color: #e0e0e0;
    padding: 0 5px;
    display: inline-block;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  }

  .slide-button {
    padding: 8px 25px;
    font-size: 0.7rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background-color: #000;
    color: white;
    border-radius: 5px;
    z-index: 5;
    text-transform: uppercase;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  }

  @media (max-width: 991px) {
    .caption-container {
      text-align: center;
    }

    .slide-caption {
      font-size: 1.5rem;
      width: 100%;
    }

    .slide-button {
      font-size: 0.7rem;
    }

    img {
      height: 40vh;
    }

    .caption-container {
      top: 14vh;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @media (max-width: 400px) {
    .caption-container {
      top: 10vh;
    }
  }

  @keyframes fadeInSlide {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
