.productList-container {
  hr {
    opacity: 0.1;
  }
  .card-container {
    height: 50%;
    width: 300px;
    padding: 20px;
    background-color: #f8f8f8;
  }
  .card-container:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    .price-container {
      background-color: rgb(39, 39, 39);
      transition: all 0.3s ease-in-out;
    }
    .card-text-btn {
      background-color: rgb(39, 39, 39);
      transition: all 0.3s ease-in-out;
    }
  }
  .select-option {
    color: #7a7a7a;
    font-size: 0.8rem;
  }
  .card-img-top {
    width: 100%;
  }
  .filter-btn {
    border: none;
    color: #fff;
    background-color: #7a7a7a;
    letter-spacing: 1px;
    border-radius: 4px;
  }
  .filter-text {
    font-size: 0.8rem;
    letter-spacing: 2px;
  }
  .div-border {
    width: 40px;
    height: 2px;
    background-color: black;
    margin: auto;
  }
  .text-description {
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;
    text-align: center;
    font-weight: 700;
    height: 2.8rem;
  }

  .all-cards {
    width: 100%;
  }
  .main-text-card {
    font-family: "Playfair Display", serif;
    color: #000;
    letter-spacing: 5px;
    font-size: 1.6rem;
    line-height: 1.8rem;
    height: 100%;
    max-height: 3.6em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: box;
    line-clamp: 2;
  }

  .usd-text {
    font-size: 11px;
  }

  .main-text {
    color: #000;
  }

  .card-text-btn {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background-color: black;
    border: none;
    padding: 12px 24px;
    transition: all 0.3s ease-in-out;
  }

  .accesories-text {
    font-family: "Montserrat", sans-serif;
    font-size: 9px;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #000;
    text-align: center;
  }
  .price-container {
    position: absolute;
    top: -18px;
    left: -18px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    width: 80px;
    height: 80px;
  }
  @media (max-width: 768px) {
    .header-container {
      padding-left: 70px;
    }
    .main-text {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 20px;
    }
    .div-text-category {
      margin-right: 50px;
    }
    .div-search-products {
      margin: 10px 50px 0 0;
    }
  }

  @media (max-width: 366px) {
    .filter-btn {
      margin-bottom: 10px;
    }
  }
  .ammount {
    font-size: 12px;
  }
}
