.profile-container {
  .profile-edit-button {
    line-height: 25px;
  }

  .profile-title {
    line-height: 25px;
  }

  .profile-text {
    font-size: 12px;
  }

  .profile-avatar {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }

  .profile-avatar-label {
    font-size: 12px;
    min-width: 60px;
  }

  .profile-input-label {
    padding-top: 0.8rem;
  }

  @media (max-width: 768px) {
    .profile-input-label {
      min-width: 80px;
    }

    .profile-avatar-label {
      min-width: 80px;
    }
  }

  .profile-cancel-edit {
    background-color: #666666;
  }
}
