.sideImage-container {
  .sideImage-div {
    background: url("/img/loginBackground/login-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* filter: grayscale(); */
    z-index: 0;
    position: relative;
  }

  .sideImage-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .form-center {
    margin: 0 auto;
    max-width: 400px;
  }
}
