.teamCard-container {
  .team-card {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }

  .team-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  .team-card img {
    border-radius: 50%;
    border: 4px solid #fff;
    transition: transform 0.3s ease;
    max-width: 120px;
    height: auto;
  }

  .team-card img:hover {
    transform: scale(1.1);
  }

  .team-card h5 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    margin-top: 15px;
  }

  .team-card p {
    font-size: 1rem;
    color: #777;
    margin-bottom: 15px;
  }

  .team-card .d-flex a {
    color: #0077b5;
    transition: color 0.3s ease, transform 0.3s ease;
    font-size: 1.5rem;
  }

  .team-card .d-flex a:hover {
    color: #005f87;
    transform: scale(1.1);
    text-decoration: none;
  }
}
