.navbar {
  display: flex;
  align-items: center;
  height: 50px;
  transition: all 0.3s ease;

  &.nav-dark {
    background-color: #000000;
  }

  &.nav-transparent {
    background-color: transparent;
    height: 60px;
  }

  img {
    position: relative;
    bottom: 4px;
    width: 165px;
  }

  span {
    cursor: pointer;
  }

  .cart-qty {
    font-weight: 400;
    background-color: #666666;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 3px 3px;
    width: 15px;
    height: 15px;
    font-size: 8px;

    transform: translate(-60%, -50%) !important;
    z-index: -1;
  }

  .total-price-wrapper {
    font-size: 14px;
  }

  .currency {
    font-size: 80%;
  }

  li {
    .nav-link,
    .nav-item {
      text-transform: uppercase;
      font-weight: normal;
      font-size: 14px;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
      color: #fff;
      transition: color 0.3s ease, fill 0.3s ease;

      svg {
        fill: currentColor;
      }

      &:hover {
        color: #dddddd;

        svg {
          fill: currentColor;
        }
      }
    }
  }

  .dropdown-menu {
    padding: 4px 19px;
    width: 200px;

    .dropdown-item {
      text-align: center;
      display: block;
      color: #555555;
      line-height: 20px;
      font-size: 14px;
      padding: 12px 0;
      transition: all 0.3s ease;

      &:not(:last-child) {
        margin: 2px 0;
        border-bottom: 1px solid #e0e0e0;
      }

      &:hover,
      &:active {
        color: #000000;
        background-color: transparent;
      }
    }
  }

  .btn {
    &:focus,
    &:hover,
    &:active,
    &:focus-visible {
      outline: none !important;
      border: none;
    }
  }

  button {
    border: none;
  }

  .dropdown-toggle {
    text-transform: uppercase;
    font-weight: normal;
    line-height: 50px;
    font-size: 14px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    color: #fff;
    transition: color 0.3s ease, fill 0.3s ease;
    background-color: transparent;

    &::after {
      display: none;
    }
  }

  .navbar-brand {
    img {
      right: 10px;
    }
  }

  .user-menu {
    text-transform: capitalize;
  }

  .btn-check:checked + .btn,
  .btn.active,
  .btn.show,
  .btn:first-child:active,
  :not(.btn-check) + .btn:active {
    background-color: transparent;
  }
}
