#empty-cart {
  font-size: 13px;
  line-height: 100px;
  margin-top: 40px;
  text-align: center;
}

.currency {
  font-size: 80%;
}

.header div {
  font-size: 11px;
}

.row.product p {
  font-size: 12px;
}

.btn-inc,
.btn-dec {
  background: none;
  cursor: pointer;
  width: 15px;
  line-height: 18px;
  font-size: 14px;
  padding: 0;
  height: 20px;
  border: 1px solid #e0e0e0;
  vertical-align: middle;
  border-radius: 0;
}

.qty-wrapper input {
  font-size: 11px;
  padding: 0;
  vertical-align: middle;
  border-radius: 0;
  text-align: center;
  display: inline-block;
  line-height: 20px;
  height: 20px;
  border: 1px solid #e0e0e0;
  width: 40px;
}

.qty-wrapper input:focus {
  outline: none;
  box-shadow: none;
  border-color: none;
}

@media (max-width: 480px) {
  .header .qty,
  .header .price {
    display: none;
  }
}

@media (max-width: 480px) {
  .col-7 {
    width: 100%;
  }
}

.content img {
  aspect-ratio: 1/1;
  width: 70px;
}

.row.product + .row.product {
  margin-top: 10px;
  border-top: 1px solid #e0e0e0;
  padding-top: 9px;
}

.details .amount::after,
.content.container::after {
  content: "";
  border-top: 1px solid #e0e0e0;
  display: block;
  position: absolute;
  top: 0;
  width: 100vw;
  left: -16px;
}

.content.container {
  padding-top: 10px;
  padding-bottom: 10px;
}

p,
.header span {
  color: #000000;
}

.sku {
  color: #999999;
}

.price,
.price-value {
  color: #555555;
  font-size: 12px;
  gap: 2px;
}

.price-value .currency {
  padding-top: 3px;
}

.modal-content {
  overflow: hidden;
}

.amount,
.close-modal {
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  color: #000000;
  font-weight: bold;
}

@media (max-width: 480px) {
  .qty-wrapper {
    display: flex;
    padding: 10px 0 0 0;
  }

  .price {
    display: flex;
    gap: 4px;
    align-items: end;
    padding: 10px 0 0 0;
  }

  .qty-wrapper + .col-2 {
    padding: 0;
    margin-left: auto;
  }
}

.ico::before {
  content: "\003C";
}
