.input-container {
  .input-text {
    font-size: 12px;
  }

  input {
    border-radius: 0;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    height: 40px;
    font-size: 12px;
    width: 100%;
    outline: none;
    padding: 0 10px;
  }

  .input-error-container {
    height: fit-content;
  }
}
