.card {
  border: none;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.order-summary .card {
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin-bottom: 15px;
}

.order-summary .summary-totals {
  background-color: transparent;
  padding: 20px 0;
  border: none;
  box-shadow: none;
}

.order-summary .border {
  border: none !important;
}

@media (max-width: 991px) and (min-width: 768px) {
  .order-summary .card {
    min-height: 180px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .order-summary .card {
    min-height: 180px;
  }
}

.summary-hr {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
