.footer-container {
  background-color: black;
  color: #fff;
  padding: 60px 0 20px 0px;
  width: 100%;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0px;
  row-gap: 5px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
  padding-top: 15px;
  align-items: start;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer-column h3 {
  font-size: 22px;
  color: #fff;
  margin-bottom: 20px;
}

.footer-column p,
.footer-column a {
  font-size: 14px;
  line-height: 1.8;
  color: #ccc;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.footer-column a {
  text-decoration: none;
  color: #ccc;
}

.footer-column p:hover,
.footer-column a:hover {
  color: #86888b;
  text-decoration: underline;
}

.subscribe-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 0px;
}

.subscribe-form {
  display: flex;
  gap: 10px;
}

.email-input {
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 250px;
}

.subscribe-btn {
  padding: 12px 20px;
  background-color: #cccc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.subscribe-btn:hover {
  background-color: #707070cc;
}

.social-media-section {
  text-align: center;
  margin-bottom: 60px;
}

.follow-us-text {
  font-size: 28px;
  color: #fff;
  margin-bottom: 30px;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.social-icon {
  font-size: 33px;
  color: #fff;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #86888b;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.footer-row hr {
  width: 100%;
  border: 1px solid #ccc;
  margin: 20px 0;
}

.footer-bottom hr {
  width: 70%;
  margin: 20px auto;
  border: 1.5px solid #ccc;
  margin-top: 60px;
}

.footer-bottom {
  text-align: center;
  margin-top: 10px;
}

.footer-bottom p {
  font-size: 14px;
  color: #787878;
}

@media (max-width: 1024px) {
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    text-align: center;
  }

  .footer-column {
    align-items: center;
  }

  .social-media-icons {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr;
    gap: 15px;
    text-align: center;
  }

  .footer-column {
    align-items: center;
    margin-bottom: 20px;
  }

  .subscribe-section {
    align-items: center;
  }

  .email-input {
    width: 80%;
  }

  .subscribe-btn {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .subscribe-form {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .email-input {
    width: 80%;
  }

  .subscribe-btn {
    width: auto;
    padding: 10px 24px;
    margin-top: 10px;
  }
}
