.btn-standard {
  border-radius: 0;
  transition: background 0.25s;
  background: #000000;
  color: #ffffff;
}

.btn01 {
  padding: 0 25px;
  font-weight: 400;
  border-radius: 3px;
  line-height: 40px;
  font-size: 13px;
  text-transform: uppercase;
}
